---
---

{% comment %}
Update this file if you have an entry that you are moving around.
Don't update this file if you are adding a new entry.
{% endcomment %}

redirect 301 /doc/tutorial.html {{ BASE_PATH }}/doc/tutorial/basic/
redirect 301 /tutorial/basic/ {{ BASE_PATH }}/doc/tutorial/basic/
redirect 301 /tutorial/ {{ BASE_PATH }}/doc/tutorial/
redirect 410 /tutorial/boost/
redirect 410 /tutorial/firstapp/

redirect 301 /doc/calling-javascript.html {{ BASE_PATH }}/doc/interoperability/facade-types.html
redirect 301 /doc/export-to-javascript.html {{ BASE_PATH }}/doc/interoperability/export-to-javascript.html
redirect 301 /doc/sjs-defined-js-classes.html {{ BASE_PATH }}/doc/interoperability/sjs-defined-js-classes.html
redirect 301 /doc/js-interoperability.html {{ BASE_PATH }}/doc/interoperability/types.html

redirect 301 /doc/sbt/setup.html {{ BASE_PATH }}/doc/project/
redirect 301 /doc/sbt/run.html {{ BASE_PATH }}/doc/project/building.html
redirect 301 /doc/sbt/depending.html {{ BASE_PATH }}/doc/project/dependencies.html
redirect 301 /doc/sbt/js-envs.html {{ BASE_PATH }}/doc/project/js-environments.html
redirect 301 /doc/sbt/cross-building.html {{ BASE_PATH }}/doc/project/cross-build.html
redirect 301 /doc/sbt/ {{ BASE_PATH }}/doc/project/

redirect 301 /downloads.html {{ BASE_PATH }}/doc/internals/downloads.html

redirect 301 /community/libraries/facades.html /libraries/facades.html
redirect 301 /community/libraries/libs.html /libraries/libs.html
redirect 301 /community/libraries/skeletons.html /libraries/skeletons.html
redirect 301 /community/libraries/testing.html /libraries/testing.html
redirect 301 /community/libraries/ /libraries/
