<form class="form-horizontal" id="shield-form">
  <div class="form-group">
    <label for="version" class="col-sm-2 control-label">Version</label>
    <div class="col-sm-4">
      <select class="form-control" id="version-sel">
        {% for item in site.data.library.versions reversed %}
        <option>{{ item }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="style" class="col-sm-2 control-label">Style</label>
    <div class="col-sm-4">
      <select class="form-control" id="style-sel">
        <option>Markdown</option>
        <option>HTML</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="style" class="col-sm-2 control-label">Preview</label>
    <div class="col-sm-4">
      <img id="shield" src="">
    </div>
  </div>
  <div class="form-group">
    <label for="shieldCode" class="col-sm-2 control-label">Code</label>
    <div class="col-sm-9">
      <input type="text" id="shieldCode" class="form-control" rows="1" style="font-family:monospace;font-size:0.8em;"></input>
    </div>
    <div class="col-sm-1">
      <div class="div-clipboard">
      <button id="shieldCodeBtn" class="btn btn-default btn-xs btn-clipboard" data-clipboard-text='' title='Copy to clipboard'><img
          class="clippy" width="13" src="{{ "/assets/img/clippy.svg" | prepend: site.baseurl }}"></img></button>
      </div>
    </div>
  </div>
</form>
<script>
onloadFunctions.push(function() {
  function updateShield() {
    var version = $("#version-sel").val();
    var style = $("#style-sel").val();
    $("#shield").attr("src", "/assets/badges/scalajs-"+version+".svg");
    var code = style == "Markdown" ? "[![Scala.js](http://scala-js.org/assets/badges/scalajs-"+version+".svg)](http://scala-js.org)" :
      '<img src="http://scala-js.org/assets/badges/scalajs-'+version+'.svg">';
    $("#shieldCode").val(code);
    $("#shieldCodeBtn").attr("data-clipboard-text", code);
  }
  updateShield();
  $("#version-sel").on("change", updateShield);
  $("#style-sel").on("change", updateShield);
  $("#shield-form").submit(function(e){ return false; });
});
</script>
