<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>LEARN</h4>

                <div class="hline-w"></div>
                <a class="grey-text text-lighten-3" href="{{ site.baseurl }}/doc">Documentation</a><br/>
                <a class="grey-text text-lighten-3" href="{{ site.baseurl }}/tutorial">Tutorial</a><br/>
                <a class="grey-text text-lighten-3" href="{{ site.baseurl }}/doc/faq.html">FAQ</a>
            </div>
            <div class="col-md-4">
                <h4>COMMUNITY</h4>

                <div class="hline-w"></div>
                <a class="grey-text text-lighten-3" href="https://gitter.im/scala-js/scala-js">Gitter chat</a><br/>
                <a class="grey-text text-lighten-3" href="http://stackoverflow.com/questions/tagged/scala.js">Stackoverflow</a><br/>
                <a class="grey-text text-lighten-3" href="https://groups.google.com/forum/?fromgroups#!forum/scala-js">Mailing list</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
