<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>LEARN</h4>

                <div class="hline-w"></div>
                <a class="grey-text text-lighten-3" href="{{ site.baseurl }}/doc/">Documentation</a><br/>
                <a class="grey-text text-lighten-3" href="{{ site.baseurl }}/tutorial/">Tutorial</a><br/>
            </div>
            <div class="col-md-4">
                <h4>COMMUNITY</h4>

                <div class="hline-w"></div>
                <a class="grey-text text-lighten-3" href="https://discord.com/invite/scala">#scala-js on Discord</a><br/>
                <a class="grey-text text-lighten-3" href="http://stackoverflow.com/questions/tagged/scala.js">Stackoverflow</a><br/>
                <a class="grey-text text-lighten-3" href="https://groups.google.com/forum/?fromgroups#!forum/scala-js">Mailing list</a><br/>
                <a class="grey-text text-lighten-3" href="http://twitter.com/scala_js">Twitter <i aria-hidden="true" class="fa fa-twitter"></i></a><br/>
                <a href="http://github.com/scala-js/scala-js">GitHub <i aria-hidden="true" class="fa fa-github"></i></a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
