<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li {% if page.url contains "/doc" %}class="active"{% endif %}><a href="{{"/doc" | prepend: site.baseurl }}">DOCUMENTATION</a></li>
        <li {% if page.url contains "/tutorial" %}class="active"{% endif %}><a href="{{"/tutorial" | prepend: site.baseurl }}">TUTORIALS</a></li>
        <li {% if page.url contains "/community" %}class="active"{% endif %}><a href="{{"/community" | prepend: site.baseurl }}">COMMUNITY</a></li>
        <li {% if page.url contains "/news" %}class="active"{% endif %}><a href="{{"/news" | prepend: site.baseurl }}">NEWS</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>