---
layout: default
wrap_title: News
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-md-12">
            <! -- Blog Post -->
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>

            <p>
                <span class="small">{{ page.date | date: "%b %-d, %Y" }}.</span>
            </p>
            {{ content }}
            <div class="spacing"></div>
            <nav>
                <ul class="pager">
                    {% if page.previous %}
                    <li class="previous"><a href="{{ page.previous.url | prepend: site.baseurl }}"
                                            title="{{ page.previous.title }}">&larr; Previous</a></li>
                    {% else %}
                    <li class="previous disabled"><a>&larr; Previous</a></li>
                    {% endif %}
                    {% if page.next %}
                    <li class="next"><a href="{{ page.next.url | prepend: site.baseurl }}"
                                        title="{{ page.next.title }}">Next &rarr;</a></li>
                    {% else %}
                    <li class="next disabled"><a>Next &rarr;</a>
                        {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>